// override defaults
body, h1, h2, h3, h4 {
  margin: 0;
}
button {
  all: unset;
  padding: 10px;
  border-radius: 5px;
}

// color-scheme variables
$light-sandpaper: #fcf8f5;
$cream: hsl(25, 60%, 85%);
$dark-cream: #d3c4b3;
$btn-danger: #e61942;
$btn-green: lightgreen;
$btn-default: lightgray;

body {
  background-color: $light-sandpaper;
  font-family: 'raleway', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

header {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  background-color: $cream;
  padding: 20px;
  h1{
    font-size: 60px;
  }
}
div.content{
  padding: 25px max(5vw, 10px);
}
#library {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.book-card {
  flex: 250px;
  padding: 30px;
  text-align: center;
  background-color: $dark-cream;
  h3{
    font-size: 30px;
    margin-bottom: 30px;
  }
  h4 {
    font-style: italic;
    font-size: 20px;
    margin-bottom: 20px;
  }
  > div{
    display: flex;
    justify-content: space-around;
    gap: 10px;

    .read.true {
      background-color: $btn-green;
    }
    .read.false{
      background-color: $btn-default;
    }
    .delete-btn {
      background-color: $btn-danger;
      img {
        height: 18px;
      }
    }
  }
}
aside {
  text-align: center;
  margin-bottom: 25px;
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    button[type="submit"] {
      background-color: $btn-green;
    }
  }
}